nav {
  background-color: lightblue;
  height: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.jobCardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}

.jobCard {
  border-style: solid;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.innerCard {
  padding: 0 0 1rem 1rem;
}

.cardLabel {
  font-weight: bold;
}

@media only screen and (max-width: 800px){
  .jobCardHolder {
    grid-template-columns: 1fr 1fr 1fr;
  }
	
}

@media only screen and (max-width: 600px){
	.jobCardHolder {
    grid-template-columns: .75fr;
    justify-content: center ;

  }
}